.mapouter {
  position: relative;
  text-align: right;
  height: calc(100% * 16 / 47);
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: calc(16 / 47 * 100%);
  width: 100%;
}
