@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Aboreto', cursive;
  font-family: 'Barlow Condensed', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.text-pearl {
  color: #d8d8d8;
}

.pearl {
  background-color: #d8d8d8;
}

.hoverPearl:hover {
  background-color: #d8d8d8;
}

* {
  box-sizing: border-box;
}

.blue {
  background-color: #1d439a;
}

.blueOpacity {
  background-color: rgba(29, 67, 154, 0.6);
}

.pearlOpacity {
  background-color: rgba(216, 216, 216, 0.3);
}

.text-blue {
  color: #1d439a;
}

/*.text-blue:hover {
  color: #1d439a;
} */
.borderPearl {
  border-color: #d8d8d8;
}

.borderBlue {
  border-color: #1d439a;
}
