@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Aboreto', cursive;
  font-family: 'Barlow Condensed', sans-serif;
}

html,
body {
  font-family: Poppins, sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 1px #3c5c5e;
  }
}